
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "node_modules/font-awesome-sass/assets/stylesheets/font-awesome";

.content-box-blue,
.content-box-gray,
.content-box-green,
.content-box-purple,
.content-box-red,
.content-box-yellow {
  margin: 0 0 25px;
  overflow: hidden;
  padding: 20px;
}

.content-box-blue {
  background-color: #d8ecf7;
  border: 1px solid #afcde3;
}

.content-box-gray {
  background-color: #e2e2e2;
  border: 1px solid #bdbdbd;
}
.content-box-green {
  background-color: #d9edc2;
  border: 1px solid #b2ce96;
}
.content-box-purple {
  background-color: #e2e2f9;
  border: 1px solid #bebde9;
}

.content-box-red {
  background-color: #f9dbdb;
  border: 1px solid #e9b3b3;
}

.content-box-yellow {
  background-color: #fef5c4;
  border: 1px solid #fadf98;
}

.line-box-content{
  height: 2px;
  border: 0;
  color: #000000;
  background-color: #b6b6b6;
}

.text-color{
  color: #000;
  font-size: 12px;
}
.logo-baner{
  float: left;
  width: 30%;
}
.float-div{
  float: left;
  width: 40%;
}
.logo-text{
  float: left;
  width: 30%;
}
.content-all{
  margin: 0 auto;
  min-width: 1024px;
  min-height: 850px;
}

.content-container{
  width: 900px;
}

.footer{
  float: left;
  text-align: center;
  width: 100%;
}

// all boxes and radios have these parent wrappers
.custom-checkbox, .custom-radio {
  // easy inline labels
  display: flex;
  input[type=checkbox], input[type=radio], label {
    // dont highlight text when double clicking
    user-select: none;
  }
  input[type=checkbox], input[type=radio] {
    position: relative;
    border: 1px solid blue;
    margin: 0 0.2em 0 0;
    padding: 0;
    text-align: center;
    width: 1.3rem;
    height: 1.3rem;
    background: white;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: rgba(white, 0);
    transition: all 0.2s ease;
    // Better Font Rendering
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &:before {
      // checkmark
      content: "✔";
    }
    &:focus {
      outline: 0;
      border: 1px solid darken(blue, 5%);
    }
    &:active {
      outline: none;
    }
    &:hover {
      outline: none;
    }
    &:checked {
      background: blue;
      // the color is what hides the checkmark
      color: rgba(white, 1);
    }
  }
  // an `inverted` class is there for making simple alternative styles
  &.inverted {
    input[type=checkbox], input[type=radio] {
      border: 1px solid black;
      &:focus {
        border: 1px solid darken(black, 5%);
      }
      &:checked {
        background: black;
      }
    }
  }
}
